<a href="https://colab.research.google.com/github/Kuroky79/HelloWorld/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from scipy import sparse 
from sklearn.preprocessing import normalize

In [13]:
interactions_df = pd.read_csv("dataset/lastfm_user_scrobbles.csv")
titles_df = pd.read_csv("dataset/lastfm_artist_list.csv")

In [11]:
interactions_df

       user_id  artist_id  scrobbles
0            1       4562      13883
1            1      10191      11690
2            1        494      11351
3            1       6673      10300
4            1       8402       8983
...        ...        ...        ...
92787     1892      10098        278
92788     1892       8660        263
92789     1892       3274        258
92790     1892       4240        232
92791     1892      10842        228

[92792 rows x 3 columns]

In [14]:
titles_df

       artist_id   artist_name
0              1       __Max__
1              2       _Algol_
2              3     -123 Min.
3              4          -Oz-
4              5  -T De Sangre
...          ...           ...
17488      17489          鷺巣詩郎
17489      17490           黃立行
17490      17491           黄义达
17491      17492         黒木メイサ
17492      17493            鼓童

[17493 rows x 2 columns]

In [16]:
interactions_df.groupby("user_id").count().mean()

artist_id    49.044397
scrobbles    49.044397
dtype: float64

In [18]:
titles_df.index = titles_df["artist_id"]
title_direct = titles_df["artist_name"].to_dict()

In [33]:
rows, r_pos = np.unique(interactions_df.values[:,0], return_inverse =True)
cols, c_pos = np.unique(interactions_df.values[:,1], return_inverse =True)

In [36]:
interactions_sparse = sparse.csr_matrix((interactions_df.values[:,2], (r_pos, c_pos)))

In [41]:
interactions_sparse

<1892x17493 sparse matrix of type '<class 'numpy.longlong'>'
	with 92723 stored elements in Compressed Sparse Row format>

In [42]:
Pui = normalize(interactions_sparse, norm='l2', axis=1)
sim = Pui.T * Pui

In [43]:
sim.todense()

matrix([[0.00120405, 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ],
        [0.        , 0.00258841, 0.        , ..., 0.        , 0.        ,
         0.        ],
        [0.        , 0.        , 0.00383689, ..., 0.        , 0.        ,
         0.        ],
        ...,
        [0.        , 0.        , 0.        , ..., 0.0228355 , 0.        ,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.        , 0.00827076,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.0010429 ]])

In [57]:
[title_direct[i+1] for i in sim[10699].toarray().argsort()[0][-20:]]

['Erik Truffaz',
 'Birdy Nam Nam',
 'Iannis Xenakis',
 'Little Dragon',
 'Dorian Concept',
 'Bjornstad',
 'John Abercrombie',
 'Philip Glass',
 'Portishead',
 'King Crimson',
 'Puma',
 'Björk',
 'Supersilent',
 'Stian Westerhus',
 'John Zorn',
 'Arve Henriksen',
 'Arvo Pärt',
 'Nils Petter Molvær',
 'Eivind Aarset',
 'Laurie Anderson']

In [52]:
interactions_sparse_transported = interactions_sparse.transpose(copy=True)
Piu = normalize(interactions_sparse_transported, norm='l2', axis=1)
fit = Pui*Piu*Pui

In [53]:
fit.shape

(1892, 17493)

In [62]:
[title_direct[i+1] for i in np.nonzero(interactions_sparse[520])[1].tolist()]

['10 Years',
 'Alison Krauss',
 'Anathema',
 'Apoptygma Berzerk',
 'Assemblage 23',
 'Ayria',
 'Bella Morte',
 'Beyond The Void',
 'Black Light Burns',
 'Blue Öyster Cult',
 'Blutengel',
 'Covenant',
 'Dead Can Dance',
 'Depeche Mode',
 'Emilie Autumn',
 'Great Northern',
 'I:Scintilla',
 'Icon Of Coil',
 'Idlewild',
 'Imperative Reaction',
 'Inkubus Sukkubus',
 'Jack Off Jill',
 'Juno Reactor',
 'Lacuna Coil',
 'Le Mystere Des Voix Bulgares',
 'Live',
 'Mind.In.A.Box',
 'Neuroticfish',
 'New Model Army',
 'Paradise Lost',
 'Paramore',
 'Pearl Jam',
 'Placebo',
 'Plumb',
 'Psyclon Nine',
 'Scarling.',
 'Screaming Lights',
 'She Wants Revenge',
 'Tapping The Vein',
 'The 69 Eyes',
 'The Birthday Massacre',
 'The Black Angels',
 'The Crüxshadows',
 'The Cure',
 'The Longcut',
 'The Sisters Of Mercy',
 'Vast',
 'Vibrasphere',
 'Vnv Nation',
 'Within Temptation']

In [63]:
[title_direct[i+1] for i in sim[10699].toarray().argsort()[0][-70:]]

['George Thorogood',
 'George Thorogood & The Destroyers',
 'Geomatic',
 'Gencab',
 'General Patton Vs. The X-Ecutioners',
 'Geddy Lee',
 'Gazebo',
 'Gemma Hayes',
 'Gbh',
 'Gd&Top',
 'Gay Fairy Tales',
 'Gavin Rossdale',
 'Gavin Harrison & 05ric',
 'Gehenna',
 'Gavin Friday',
 'Gazpacho',
 'Gavin Degraw',
 'Geinoh Yamashiro-Gumi',
 'Gemini Five',
 'Gemelli Diversi',
 'Jan Bang',
 'Kissey Asplund',
 'Xploding Plastix',
 'Jon Hassell',
 'The Roots',
 'Tom Waits',
 'Aphex Twin',
 'Live Maria Roggen',
 'Eberhard Weber',
 'The Kilimanjaro Darkjazz Ensemble',
 'Brian Eno & J. Peter Schwalm',
 'Håkon Kornstad',
 'The Mount Fuji Doomjazz Corporation',
 'Brian Eno & Jah Wobble',
 'Arild Andersen Group',
 "Nik Bärtsch's Ronin",
 'Terje Rypdal',
 'Ursula Rucker',
 'Kurt Rosenwinkel',
 'Steve Coleman And Five Elements',
 'Avishai Cohen',
 'Wibutee',
 'Dimlite',
 'Sidsel Endresen & Bugge Wesseltoft',
 'Fantomas',
 'Jan Garbarek Group',
 'Othin Spake',
 'Murcof',
 'Serdar Ateser',
 'Ry Cooder',
 'Erik Truffaz',
 'Birdy Nam Nam',
 'Iannis Xenakis',
 'Little Dragon',
 'Dorian Concept',
 'Bjornstad',
 'John Abercrombie',
 'Philip Glass',
 'Portishead',
 'King Crimson',
 'Puma',
 'Björk',
 'Supersilent',
 'Stian Westerhus',
 'John Zorn',
 'Arve Henriksen',
 'Arvo Pärt',
 'Nils Petter Molvær',
 'Eivind Aarset',
 'Laurie Anderson']